:root{
    --clst: #F53838;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
p{
    color: #4F5665;
}
.btn{
    text-decoration: none;
}


/*--------------------Header--------------------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    width: 100%;
}
.logo{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 12px;
}
.logo p{
    font-size: 26px;
    font-weight: 600;
}
.navigation{
    width: 700px;
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navigation__list--item a{
    text-decoration: none;
    color: #4F5665;
    font-size: 21px;
    font-weight: 600;
}
.in__up{
    display: flex;
    align-items: center;
    gap: 40px;
}
.in__up .btn{
    padding: 17px 60px;
    border-radius: 66px;
    font-size: 21.3px;
    font-weight: 700;
    transition: all .2s linear;
}
.signin{
    border: 1px solid #00000000;
    color: #0B132A;
}
.signup{
    border: 1px solid var(--clst);
    color: var(--clst);
}
.in__up .btn:hover{
    background-color: var(--clst);
    border: 1px solid var(--clst);
    color: white;
}


/*--------------------main--------------------*/
/*----------getting----------*/
.getting{
    padding: 110px 200px;
    display: flex;
    gap: 54px;
}
.getting_content h1{
    margin-bottom: 27px;
    font-size: 66.71px;
    line-height: 93.4px;
}
.getting_content p{
    margin-bottom: 66px;
    font-size: 21px;
    line-height: 40px;
}
.getting_content .btn{
    background-color: var(--clst);
    padding: 23px 103px;
    border-radius: 13px;
    line-height: 33px;
    color: #ffffff;
    font-size: 21px;
    transition: all .2s linear;
}
.getting_content .btn:hover{
    box-shadow: 0 30px 50px -20px var(--clst);
}